& header {
  display: flex;
  background-color: #e6e0e9;
  padding: 10px;

  & button {
    margin-left: 10px;
    font-weight: bold;
    border: 0cap;
  }

  & button:hover {
    opacity: 0.8;
  }
}
body {
  background-color: #afafaf;

  & .card {
    border-radius: 1vw;
    background-color: #d9d9d9;
    padding: 0.5%;
    margin: 2%;
  }
}

.head {
  z-index: 5;
  width: 100%;
  position: sticky;
  top: 0px;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #e6e0e9;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 3vw;
  width: 100%;
  margin: 0 5% 0 5%;
  padding: 0;
  & li {
    list-style-type: none;
  }
}
img {
  width: 5vw;
}
