.head {
  position: sticky;
  top: 0px;
}

header {
  display: flex;
  background-color: #e6e0e9;
  padding: 10px;

  & button {
    margin-left: 10px;
    font-weight: bold;
    border: 0cap;
  }

  & button:hover {
    opacity: 0.8;
  }
}

footer {
  width: 100%;
  bottom: 0;
  background-color: #e6e0e9;
}
.card {
  border-radius: 25px;
  background-color: #d9d9d9;
  padding: 10px;
  margin: 50px;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 100%;

  & li {
    padding: 10px;
    font-style: normal;
    list-style-type: none;
  }
}
img {
  width: 32px;
}
