.bodycard {
  display: grid;
  background-color: #ece6f0;
  grid-template-columns: 10% 70% 10%;
  grid-gap: 1%;
  border-radius: 2vw;
  margin: 1vh;

  & img {
    display: flex;
    justify-content: center;
    justify-items: center;
    border-radius: 25%;
    width: 100%;
  }
}

.child {
  display: flex;
  flex-direction: column;
  font-size: 2vh;
  width: 100%;

  & p {
    opacity: 0.8;
  }
}

.child2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2vh;
  font-weight: bold;

  & p {
  }

  & button {
    width: 100%;
    border: none;
    border-radius: 25vw;
    color: #fff;
    background-color: #4caf50;
    padding: 10%;
  }
  & button:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 760px) {
  .bodycard {
    grid-template-columns: 1fr;
    gap: 5vh;
    padding: 5vh;
    text-align: center;
  }
  .child {
    font-size: 3vh;
  }

  .child2 {
    font-size: 3vh;
  }
}
